* {
  margin: 0;
  padding: 0;
}

div {
  font-size: .9em;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 15%;
}

div a {
  display: block;
  width: 300px;
  margin: 0 auto;
  text-decoration: none;
  margin-top: 3%;
  padding: 1%;
  color: #000;
  border: 1px solid #000;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

div a:hover {
  background-color: #000;
  color: #fff;
}
